:root {
    /* General */
    --font-family:             Roboto, sans-serif;
    --app-max-width:           768px;
    --container-border-radius: 16px;

    /* Colors */
    --black:      #212121;
    --white:      #FFF;
    --light-grey: #BDBDBD;
    --grey:       #9E9E9E;
    --dark-grey:  #979797;
    --light-teal: #32d8d8;
    --teal:       #2AC0C0;

    /* Element specific colors */
    --bg-color:                           var(--light-grey);

    --text-color:                         var(--black);

    --interaction-color:                  var(--teal);
    --interaction-highlight-color:        var(--light-teal);

    --logo-text-color:                    var(--white);
    --logo-text-color-active:             var(--white);

    --main-elemnt-color:                  var(--white);

    --h2-color:                           var(--grey);

    --h3-color:                           var(--black);

    --search-border-color:                var(--white);

    --label-color:                        var(--grey);

    --button-text-color:                  var(--white);

    --input-placeholder-color:            var(--grey);
    --input-text-color:                   var(--black);

    --hr-color:                           var(--dark-grey);

    --footer-text-color:                  var(--white);
    --footer-interaction-color:           var(--white);
    --footer-interaction-highlight-color: var(--white);

    /* Fonts */
    --add_definition-label-font-size:            12px;
    --add_definition-label-font-weight:          14px;
    --add_definition-ta-font-size:               16px;
    --add_definition-ta-font-weight:             600;
    --add_definition-ta-placeholder-font-size:   16px;
    --add_definition-ta-placeholder-font-weight: 400;

    --body-font-size:                            16px;
    --body-font-weight:                          400px;
    --body-line-height:                          20px;

    --footer-font-size:                          12px;
    --footer-line-height:                        14px;

    --h1-font-size:                              50px;
    --h1-font-weight:                            500px;
    --h1-line-height:                            58px;
    --h1-text-transform:                         none;

    --h2-font-size:                              12px;
    --h2-font-weight:                            700px;
    --h2-line-height:                            14px;
    --h2-text-transform:                         uppercase;

    --h3-font-size:                              24px;
    --h3-font-weight:                            700px;
    --h3-line-height:                            28px;
    --h3-text-transform:                         none;

    --header-text-align:                         left;

    --search-terms-input-font-size:              16px;
    --search-terms-input-font-weight:            400;

    /* Elements */
    --body-padding:              24px;

    --header-image-size:         auto;
    --header-image-margin-right: 12px;

    --input-border-thickness:    2px;
    --input-border-radius:       4px;

    --stats-flex-direction:      row;
    --stats-aside-width:         50%;

    /* Transition Timings */
    --anchor-transition-time: 100ms;
    --anchor-transition-type: ease-in-out;

    --input-transition-time:  150ms;
    --input-transition-type:  ease-in-out;
}

@media (max-width: 620px) {
    :root {
        --body-padding:              12px;

        --h1-font-size:              40px;
        --h1-line-height:            48px;

        --header-image-size:         28px;
        --header-image-margin-right: 10px;

        --stats-flex-direction:      column;
        --stats-aside-width:         100%;
    }
}

@media (max-width: 320px) {
    :root {
        --h1-font-size:              28px;
        --h1-line-height:            36px;

        --header-image-size:         20px;
        --header-image-margin-right: 8px;
    }
}

/* Global Styles */

* {
    box-sizing: border-box;
}

/* Element Styles */

body {
    align-items: center;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    line-height: var(--body-line-height);
    margin: 0;
    padding: 0 var(--body-padding);
}

h1, h2, h3 {
    display: inline-block;
    width: 100%;
}

h1 {
    font-size: var(--h1-font-size);
    font-weight: var(--h1-font-weight);
    line-height: var(--h1-line-height);
    margin: 39px 0 52px;
    width: 100%;
    text-transform: var(--h1-text-transform);
}

h2 {
    color: var(--h2-color);
    font-size: var(--h2-font-size);
    font-weight: var(--h2-font-weight);
    line-height: var(--h2-line-height);
    margin: 0 0 15px;
    text-transform: var(--h2-text-transform);
}

h3{
    color: var(--h3-color);
    display: inline-block;
    font-size: var(--h3-font-size);
    font-weight: var(--h3-font-weight);
    line-height: var(--h3-line-height);
    margin: 1px 0 8px;
    text-transform: var(--h3-text-transform);
}

a {
    color: var(--interaction-color);
    text-decoration: none;
    transition: color var(--anchor-transition-time) var(--anchor-transition-type);
}

a:hover, a:focus {
    outline: none;
    color: var(--interaction-highlight-color);
}

ul {
    display: inline-block;
    width: 100%;
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
}

hr {
    border: none;
    border-top: 1px solid var(--hr-color);
    height: 1px;
    margin: 38px 0 40px;
}

/* Header Styles */

header, form#search_terms, main, footer{
    width: 100%;
    max-width: var(--app-max-width);
}

header a, header a:hover, header a:focus {
    color: var(--logo-text-color);
}

header h1 {
    text-align: var(--header-text-align);
}

header a {
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color var(--anchor-transition-time) var(--anchor-transition-type);
}

header a:hover, header a:focus {
    text-decoration-color: var(--logo-text-color-active);
}

header img{
    height: var(--header-image-size);
    margin-right: var(--header-image-margin-right);
    width: auto;
}

/* Main Styles */

main {
    background-color: var(--main-elemnt-color);
    border-radius: var(--container-border-radius);
    padding: 19px 24px 20px;
}

main p {
    margin: 0 0 30px;
}

main ul.definitions {
    margin: 0 0 15px;
    list-style: disc;
    padding-left: 22px;
}

main ul.definitions li {
    display: list-item;
}

main #stats{
    display: flex;
    flex-direction: var(--stats-flex-direction);
    justify-content: space-evenly;
}

main #stats aside {
    width: var(--stats-aside-width);
}

main ul.results {
    margin: 0 0 26px;
}

/* Footer Styles*/

footer {
    color: var(--footer-text-color);
    font-size: var(--footer-font-size);
    line-height: var(--footer-line-height);
    padding: 40px 0 34px;
    text-align: center;
}

footer a {
    color: var(--footer-interaction-color);
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color var(--anchor-transition-time) var(--anchor-transition-type);
}

footer a:hover, footer a:focus {
    outline: none;
    color: var(--footer-interaction-highlight-color);
    text-decoration-color: var(--footer-interaction-highlight-color);
}

/* Form Styles */

form textarea, form label, form input {
    display: block;
}

form#search_terms {
    position: relative;
    margin-bottom: 31px;
}

form#search_terms input[type='text']::placeholder {
    color: var(--input-placeholder-color);
    font-size: var(--search-terms-input-font-size);
    font-weight: var(--search-terms-input-font-weight);
}

form#search_terms input[type='text'] {
    background-color: var(--main-elemnt-color);
    border: var(--input-border-thickness) solid var(--search-border-color);
    border-radius: var(--container-border-radius);
    color: var(--input-text-color);
    line-height: 56px;
    padding: 0 23px;
    transition: border var(--input-transition-time) var(--input-transition-type);
    width: 100%;
}

form#search_terms input[type='text']:focus {
    outline: none;
    border: var(--input-border-thickness) solid var(--interaction-highlight-color);
}

form#search_terms button {
    background-color: transparent;
    border: 0;
    height: 36px;
    position: absolute;
    top: 12px;
    right: 24px;
    width: 36px;
}

form#search_terms button img {
    position: relative;
}

form#search_terms button div {
    background-color: transparent;
    border-radius: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: background-color var(--input-transition-time) var(--input-transition-type);
    width: 100%;
}

form#search_terms button:hover div, form#search_terms button:focus div{
    background-color: var(--interaction-highlight-color);
}

form#search_terms button:hover {
    cursor: pointer;
}

form#search_terms button:focus {
    outline: none;
}

form#add_definition {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}

form#add_definition label {
    color: var(--label-color);
    font-size: var(--add_definition-label-font-size);
    font-weight: var(--add_definition-label-font-weight);
    margin-bottom: 3px;
    width: 100%;
}

form#add_definition textarea {
    border: var(--input-border-thickness) solid var(--interaction-color);
    border-radius: var(--input-border-radius);
    font-family: var(--font-family);
    font-size: var(--add_definition-ta-font-size);
    font-weight: var(--add_definition-ta-font-weight);
    height: 106px;
    margin-bottom: 9px;
    padding: 8px 9px;
    transition: border var(--input-transition-time) var(--input-transition-type);
    width: 100%;
}

form#add_definition textarea::placeholder {
    color: var(--input-placeholder-color);
    font-size: var(--add_definition-ta-placeholder-font-size);
    font-weight: var(--add_definition-ta-placeholder-font-weight);
}

form#add_definition textarea:focus {
    outline: none;
    border: var(--input-border-thickness) solid var(--interaction-highlight-color);
}

form#add_definition button {
    background-color: var(--interaction-color);
    border: var(--input-border-thickness) solid var(--interaction-color);
    border-radius: var(--input-border-radius);
    color: var(--button-text-color);
    margin: 0;
    padding: 3px 15px;
    transition: all var(--input-transition-time) var(--input-transition-type);
}

form#add_definition button:hover, form#add_definition button:focus {
    outline: none;
    background-color: var(--interaction-highlight-color);
    border-color: var(--interaction-highlight-color);
}

form#add_definition button:hover {
    cursor: pointer;
}
