* {
    box-sizing: border-box;
}

body {
    /* align-items: center; */
    background-color: #BDBDBD;
    display: block;
    /* display: flex; */
    /* flex-direction: column; */
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    padding: 0 60px;
}

h1, h2, h3 {
    display: inline-block;
    width: 100%;
}

h1 {
    font-size: 50px;
    font-weight: 500;
    line-height: 58px;
    margin: 39px 0 52px;
    text-align: center;
    width: 100%;
}

h2 {
    color: rgba(0, 0, 0, 0.38);
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    margin: 0 0 15px;
    text-transform: uppercase;
}

h3{
    display: inline-block;
    font-size: 24px;
    line-height: 28px;
    margin: 1px 0 8px;
}

a {
    color: #2AC0C0;
    text-decoration: none;
}

a:hover {
    color: #2AC0C0;
}

ul {
    display: inline-block;
    width: 100%;
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
}

ul.definitions {
    margin: 0 0 17px;
    list-style: disc;
    padding-left: 22px;
}

ul.definitions li {
    display: list-item;
}

form textarea, form label, form input {
    display: block;
}

header, form#search_terms, main, footer{
    width: 100%;
    max-width: 430px;
}

header a, header a:hover {
    color: #FFF;
}

form#search_terms {
    margin-bottom: 31px;
}

form#search_terms input[type='text'], form#search_terms input[type='text']::placeholder {
    color: rgba(0, 0, 0, 0.38);
    font-size: 16px;
    font-weight: 400;
}

form#search_terms input[type='text'] {
    background-color: #FFF;
    border: 0;
    border-radius: 16px;
    color: #000;
    line-height: 60px;
    padding: 0 23px;
    width: 100%;
}

main {
    background-color: #FFF;
    border-radius: 16px;
    padding: 19px 24px 104px;
}

hr {
    border: none;
    border-top: 1px solid #979797;
    height: 1px;
    margin: 0 0 40px;
}

ul.results {
    margin: 0 0 26px;
}

footer {
    color: #FFF;
    font-size: 12px;
    line-height: 14px;
    padding: 40px 0 34px;
    text-align: center;
}

footer a {
    color: #FFF;
}

footer a:hover {
    color: #fff;
    text-decoration: underline;
}
