:root {
    /* General */
    --font-family:             Roboto, sans-serif;
    --app-max-width:           728px;
    --container-border-radius: 16px;

    /* Colors */
    --black:      #212121;
    --white:      #FFF;
    --light-teal: #32d8d8;
    --teal:       #2AC0C0;
    --light-grey: #BDBDBD;
    --grey:       #9E9E9E;
    --dark-grey:  #979797;

    /* Element specific colors */
    --bg-color:                           var(--light-grey);
    --text-color:                         var(--black);
    --interaction-color:                  var(--teal);
    --interaction-highlight-color:        var(--light-teal);
    --logo-text-color:                    var(--white);
    --logo-text-color-active:             var(--white);
    --main-elemnt-color:                  var(--white);
    --h2-color:                           var(--grey);
    --h3-color:                           var(--black);
    --search-border-color:                var(--white);
    --label-color:                        var(--grey);
    --button-text-color:                  var(--white);
    --input-placeholder-color:            var(--grey);
    --input-text-color:                   var(--black);
    --hr-color:                           var(--dark-grey);
    --footer-text-color:                  var(--white);
    --footer-interaction-color:           var(--white);
    --footer-interaction-highlight-color: var(--white);

    /* Elements */
    --body-padding:           20px;
    --body-padding-mobile:    8px;
    --input-border-thickness: 2px;
    --input-border-radius:    4px;

    /* Transition Timings */
    --anchor-transition-time: 100ms;
    --anchon-transition-type: ease-in-out;
    --input-transition-time:  150ms;
    --input-transition-type:  ease-in-out;
}

/* Global Styles */

* {
    box-sizing: border-box;
}

/* General Element Style */

body {
    align-items: center;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: block;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    padding: 0 var(--body-padding);
}

h1, h2, h3 {
    display: inline-block;
    width: 100%;
}

h1 {
    font-size: 50px;
    font-weight: 500;
    line-height: 58px;
    margin: 39px 0 52px;
    text-align: center;
    width: 100%;
}

h2 {
    color: var(--h2-color);
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    margin: 0 0 15px;
    text-transform: uppercase;
}

h3{
    color: var(--h3-color);
    display: inline-block;
    font-size: 24px;
    line-height: 28px;
    margin: 1px 0 8px;
}

a {
    color: var(--interaction-color);
    text-decoration: none;
    transition: color var(--anchor-transition-time) var(--anchon-transition-type);
}

a:hover, a:focus {
    outline: none;
    color: var(--interaction-highlight-color);
}

ul {
    display: inline-block;
    width: 100%;
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
}

hr {
    border: none;
    border-top: 1px solid var(--hr-color);
    height: 1px;
    margin: 38px 0 40px;
}

/* Header Styles */

header, form#search_terms, main, footer{
    width: 100%;
    max-width: var(--app-max-width);
}

header a, header a:hover, header a:focus {
    color: var(--logo-text-color);
}

header a {
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color var(--anchor-transition-time) var(--anchon-transition-type);
}

header a:hover, header a:focus {
    text-decoration-color: var(--logo-text-color-active);
}

/* Main Styles */

main {
    background-color: var(--main-elemnt-color);
    border-radius: var(--container-border-radius);
    padding: 19px 24px 104px;
}

main p {
    margin: 0 0 30px;
}

main ul.definitions {
    margin: 0 0 15px;
    list-style: disc;
    padding-left: 22px;
}

main ul.definitions li {
    display: list-item;
}

main ul.results {
    margin: 0 0 26px;
}

/* Footer Styles*/

footer {
    color: var(--footer-text-color);
    font-size: 12px;
    line-height: 14px;
    padding: 40px 0 34px;
    text-align: center;
}

footer a {
    color: var(--footer-interaction-color);
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color var(--anchor-transition-time) var(--anchon-transition-type);
}

footer a:hover, footer a:focus {
    outline: none;
    color: var(--footer-interaction-highlight-color);
    text-decoration-color: var(--footer-interaction-highlight-color);
}

/* Form Styles */

form textarea, form label, form input {
    display: block;
}

form#search_terms {
    margin-bottom: 31px;
}

form#search_terms input[type='text']::placeholder {
    color: var(--placeholder-color);
    font-size: 16px;
    font-weight: 400;
}

form#search_terms input[type='text'] {
    background-color: var(--main-elemnt-color);
    border: 2px solid var(--search-border-color);
    border-radius: var(--container-border-radius);
    color: var(--input-text-color);
    line-height: 56px;
    padding: 0 23px;
    transition: border var(--input-transition-time) var(--input-transition-type);
    width: 100%;
}

form#search_terms input[type='text']:focus {
    outline: none;
    border: var(--input-border-thickness) solid var(--interaction-highlight-color);
}

form#add_definition label {
    color: var(--label-color);
    font-size: 12px;
    font-weight: 14px;
    margin-bottom: 3px;
}

form#add_definition textarea {
    border: var(--input-border-thickness) solid var(--interaction-color);
    border-radius: var(--input-border-radius);
    height: 106px;
    margin-bottom: 9px;
    padding: 8px 9px;
    transition: border var(--input-transition-time) var(--input-transition-type);
    width: 100%;
}

form#add_definition textarea:focus {
    outline: none;
    border: var(--input-border-thickness) solid var(--interaction-highlight-color);
}

form#add_definition button {
    background-color: var(--interaction-color);
    border: var(--input-border-thickness) solid var(--interaction-color);
    border-radius: var(--input-border-radius);
    color: var(--button-text-color);
    margin: 0;
    padding: 3px 15px;
    transition: all var(--input-transition-time) var(--input-transition-type);
}

form#add_definition button:hover, form#add_definition button:focus {
    outline: none;
    background-color: var(--interaction-highlight-color);
    border-color: var(--interaction-highlight-color);
}

form#add_definition button:hover {
    cursor: pointer;
}
